@charset "UTF-8";
/* CSS Document */

@media (max-width: 1150px) {
	.col {
		width: 80%;
	}
}

@media (max-width: 1020px) {
	#mainpic img {
		width: 400px;
	}
}

@media (max-width: 850px) {
	.browntext {
		font-size: 18pt;	
	}
}

@media (max-width: 800px) {
	#hamburger {
		display: inherit;
	}
	
	#navlinks {
		justify-content: space-between;
		flex-direction: column;
		margin-top: 10px;
	}
	
	.text-link, .contact-button {
		display: none;
	}
	
	.responsive {
		display: flex;
		text-align: center;
		margin-bottom: 5px;
	}
	
	.long-head {
		background-image: none;
		background-color: #D5D5D5;
		height: 265px;
	}
	.bar {
		flex-direction: column;
	}
	.imagebar {
		margin: 20px 0px 10px 0;
	}
	.textbar {
		margin: 10px;
	}
	.browntext {
		margin: 0;
	}
	.dest p {
		font-size: 16pt;
	}
}


@media (max-width: 750px) {
	footer {
		flex-direction: column;
		align-items: center;
	}
	#socials {
		display: flex;
		flex-direction: row;
	}
	#destinations img {
		width: 200px;
		height: 133px;
	}
	#hero {
		background-position: center;
	}
	.text-box {
		width: 40%;
    		left: 25%;
    		bottom: 185%;
	}
}

@media (max-width: 730px) { 
	.dest p {
		margin-right: 7.5%;
		padding-right: 7.5%;
	}
	.normal {
		font-size: 18pt;
	}
}

@media (max-width: 625px) {
	#destinations {
		text-align: center;
	}
	#icons img {
		width: 80px;
	}
}

@media (max-width: 600px) {
	#icons img {
		width: 100px;
	}
	.text-box {
		padding: 5px 5px;
		font-size: 11pt;
		width: 32%;
		bottom: 173%;
		left: 31%;
		visibility: visible;		
	}
}

@media (max-width: 500px) {
	.hero-text {
		font-size: 60pt;
		line-height: 72px;
	}
}

@media (max-width: 460px) {
	#news {
		height: 195px;
	}
	
	#icons {
		flex-direction: column;
	}
	.icon-parent {
		margin-bottom: 15px;
	}
	#main p {
		margin-bottom: 10px;
	}
	.imagebar img {
		width: 300px;
	}
	#mainpic img {
		width: 300px;
	}
}

@media (max-width: 400px) {
	.hero-text {
		font-size: 50pt;
	}
	.has-button a {
		font-size: 13pt;
	}
}

@media (max-width: 330px) {
	.hero-text {
		margin-bottom: 8px;		
		line-height: 65px;
	}
}
