@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
	font-family: "Lora", serif;
}

a:link {
    text-decoration: none;	
	color: #000000;
}

a:visited {
	color: #000000;
}

a:hover, a:focus {
    color: #d76539;
    text-decoration: none;	
}








header {
	position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

#navlinks {
    display: flex;
	justify-content: space-around;
	text-justify: inter-word;
/*    box-sizing: border-box;*/
    width: 100%;
	font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 15pt;
    list-style-type: none;
	padding-left: 0;
	height: 50px;
	align-items: center;
}

.contact-button a {
	color: #FFFFFF;
	border-style: solid;
    border-color: #017a5c;
	background-color: #017a5c;
/*    border-radius: 16px;*/
    padding: 8px 19px;
	text-align: center;
    width: 230px;
}

.contact-button a:hover {
	color: #D2D2D2;
}

#hero {
	background-image: url("hero-travel.jpg");
	background-size: cover;
	margin-top: -55px;
	height: 700px;
	width: 100%;
	z-index: -100;
	text-align: right;
}

.hero-text {
	font-family: "Inter bold", sans-serif;
	font-weight: 600;
	line-height: 70px;
    color: #FFFFFF;
    font-size: 80pt;
	margin-bottom: 10px;
	position: relative;
	top: 325px;
	margin: 0 75px 20px 0;
}

.has-button a {
    font-size: 17pt;
    border-style: solid;
    border-color: #FFFFFF;
	color: #000000;
    border-radius: 16px;
    padding: 8px 19px;
	text-align: center;
    width: 230px;
	margin-right: 75px;
	position: relative;
	top: 340px;
	background-color: #FFFFFF;
	font-family: "Lora", serif;
}

#hero a:hover {
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.00);
}

#main h2 {
	font-size: 30pt;
	margin: 50px 80px 10px 100px;
	font-family: "Inter", sans-serif;
}

#main p {
	font-size: 20pt;
	line-height: 37px;
	margin: 10px 80px 50px 100px;
}

#destinations {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px 0px;
}

.col img:hover {
	opacity: 0.3;
	transition: .5s ease;
}

/*
.middle {
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
*/

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ededed;
	color: #808080;
	font-size: 0.8em;
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer img {
	padding: 10px;
}
